dados_brutos/

docs/

__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.venv/
venv/
env/
pip-log.txt

.env
.env.*
!.env.example

docker-compose.override.yml

*.sql.bak
pgdata/
mongodata/

.vscode/
.idea/

.DS_Store
Thumbs.db
